@media only screen and (max-width: 414px) {
  * {
    box-sizing: border-box;
  }

  div.menu {
    height: auto;
    position: static;
  }

  .menu-ul {
    flex-flow: column wrap;
  }

  .shell .menu-ul li + li {
    padding: 20px 0 0 0;
  }

  div.shell {
    width: 100%;
  }

  div:nth-child(2) > section {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    padding: 0;
    background-repeat: repeat;
  }

  article.bio,
  .avatar,
  article.bio-english {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  div.avatar {
    width: 70%;
    padding: 40px 0;
  }

  section.contact {
    width: 100%;
    margin: 40px 0;
  }
}
