@media only screen and (max-width: 900px) {
  div.shell {
    width: 100%;
  }

  article.bio,
  .avatar,
  article.bio-english {
    width: 73%;
    margin: auto;
  }

  div:nth-child(2) > section {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    padding: 0;
    background-repeat: repeat;
  }

  div.avatar {
    width: 20%;
  }

  section.contact {
    width: 80%;
    margin: 90px auto;
  }

  form.form {
    max-width: 80%;
    margin: 30px auto;
    padding: 12px;
  }

  .form input,
  .form textarea {
    padding: 12px;
    font-size: 16px;
  }

  section.presentation {
    padding: 30px 84px 30px;
  }
}

@media only screen and (max-width: 414px) {
  * {
    box-sizing: border-box;
  }

  div.menu {
    height: auto;
    position: static;
  }

  .menu-ul {
    flex-flow: column wrap;
  }

  .shell .menu-ul li + li {
    padding: 20px 0 0 0;
  }

  div.shell {
    width: 100%;
  }

  div:nth-child(2) > section {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    padding: 0;
    background-repeat: repeat;
  }

  article.bio,
  .avatar,
  article.bio-english {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  div.avatar {
    width: 70%;
    padding: 40px 0;
  }

  section.contact {
    width: 100%;
    margin: 40px 0;
  }

  section.presentation {
    padding: 0;
  }

  article.bratanoff-presentation {
    border-radius: 0;
    padding: 40px 60px;
    text-align: center;
  }
}
